@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,600;0,9..40,1000;1,9..40,300&display=swap');
:root {
    --mainColour: #0DCAF0;
}

.main-container {
    display: flex;
    height: 57vh;
    width: 60vw;
    border: 3px solid black;
    border-radius: 17px;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
    background-color: rgb(255, 255, 255)
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    
}

h1{
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 7vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}

#email{
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 2px solid var(--mainColour);
    border-radius: 30px;
    width: 16vw;
    padding: 2vh 0vw 2vh 1vw;
    font-family: 'DM Sans', sans-serif;
}

#password {
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 2px solid var(--mainColour);
    border-radius: 30px;
    width: 16vw;
    padding: 2vh 0vw 2vh 1vw;
    font-family: 'DM Sans', sans-serif;
}

#error-msg{
    color: red;
    font-style: italic;
    margin-top: 1vh;
}

#submit {
    margin-top: 2vh;
    padding: 1.5vh 3.5vw 1.5vh 3.5vw;
    border-radius: 30px;
    border: 2px solid var(--mainColour);

    color: white;
    background-color: var(--mainColour);
    font-family: 'DM Sans', sans-serif;
 
   font-weight: 900;
    font-size: 2vh;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--mainColour);

    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

#image {
    height: 18vw;
}

@media only screen and (max-width: 900px){
    #image {
        display: none;
    }

    .image-container {
        display: none;
        width: 0vw;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }

        #password {
            width: 35vw;
        }
    
        #username {
            width: 35vw;
        }

        #submit {
            width: 20vw;
        }

}

footer{
  text-align: center;
  padding: 1rem 0;
}